.profileData{
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.value{
color: #999999;
}

.profileEditInput {
    font-size: 13px;
    color: #999999;
    direction: rtl;
    border-bottom: none;
}
.profileData:focus-within {
    border-bottom: 2px solid #4285f4;
  }

.key{
    white-space: nowrap;
}

.errors{
    display: flex;
    flex-direction: column;
    align-items: center;
}