.button {
  height: 37px;
  width: 280px;
  border: 1px solid;
  border-radius: 10px;
  color: var(--blue);
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 0px 5px 10px 2px var(--dark-gray);
  }
}
.acceptBtn {
  border-color: var(--blue);
  background-color: var(--blue);
}
.declineBtn {
  border-color: var(--red);
  background-color: var(--red);
}

.link {
  text-decoration: none;
  padding: 5px;
  &:hover {
    box-shadow: 0px 5px 10px 2px var(--dark-gray);
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
