.avatarImage {
  object-fit: cover;
  border-radius:50%;
  width: 150px;
  height: 150px;
  &:hover {
    filter: contrast(0.5);
  }
}
.img__description {
  position: relative;
  right: 100px;
  color:var(--white);
  visibility: hidden;
  opacity: 0;
}
.avatar {
  width: 150px;
  display:flex;
  align-items:center;
  justify-content: flex-start;

}
.avatar:hover .img__description {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
