<div class="chatAreaFooter">
    <div class="fileToSend">
        {{> 'modal/fileToSend'}}
    </div>
    <div>
        {{> 'icons/icon' style='background-color:transparent' name='../assets/paper-clip.png'}}
    </div>
    <input class="message" type="text" placeholder="Сообщение" />
    <div>
        {{> 'icons/icon' style='background-color:transparent' name='../assets/arrow-right.png'}}
    </div>
</div>
