<div class='chatArea'>
    {{> 'chat/incomingMessage' text='ты где?' time='12:50'}}
     {{> 'chat/outgoingMessage' text='а ты где?' time='12:52'}}
      {{> 'chat/incomingMessage' text='здесь' time='12:53'}}
    <p>{{text}}</p>
</div>