.chatListHeader {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray);
  & > a {
    align-self: flex-end;
    margin-bottom: 10px;
  }
}
.chatArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
}
.chatSearch {
  font-size: 12px;
  border-radius: 5px;
  background-color: var(--almost-white);
  width: 290px;
  border: none;
  padding: 10px 10px 10px 10px;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

.chatListItem {
  height: 71px;
  margin: 10px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;

  & > img {
    height: 47px;
  }
  &:hover {
    background-color: var(--gray);
  }
}
.chat-avatar {
  margin: 10px;
  & > img {
    height: 47px;
  }
}
.chat-1 {
  width: 193px;
  max-width: 193px;
}
.chat-name {
  font-weight: 800;
}
.last-message,
.chat-time {
  color: #999;
  font-size: 12px;
}
.chat-unread {
  text-align: center;
  height: 20px;
  border-radius: 50%;
  background-color: #3369f3;
  width: 20px;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  float: right;
}
.chatAreaHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
}

.chatAreaFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #eaeaea;
  width: 95%;
}

.message {
  width: 95%;
  background-color: #efefef;
  border: none;
  border-radius: 30px;
  padding: 10px 10px 10px 5px;
  font-size: 12px;
}

.chat-title {
  display: flex;
  align-items: center;
}

.fileToSend {
  position: absolute;
  bottom: 50px;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 10px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.incomingMessage,
.outgoingMessage {
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  max-width: 70%;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}
.incomingMessage {
  background-color: #f8f8f8;
  margin-left: 20px;
}
.outgoingMessage {
  background-color: #e4edfd;
  margin-left: auto;
  margin-right: 20px;
}
.message-time {
  font-size: 10px;
  color: #908d8d;
}
.message-text {
  margin-right: 5px;
}
