<div  class="chatAreaHeader">
   <div class="chat-title">
     <div class="chat-avatar">
        <img alt="avatar" src="../assets/avatar.png"/>
      </div>
         <div>{{nickName}}</div>
   </div>
     <div>{{> 'icons/icon' style='background-color:transparent' name='../assets/more.png'}}</div>
</div>
{{!-- {{> 'modal/userActions'}} --}}