<div class="chatListItem">
    <div class="chat-avatar">
        <img alt="avatar" src="../assets/avatar.png"/>
    </div>
    <div class="chat-1">
        <div class="chat-name">{{name}}</div>
        <div class="last-message">{{lastMessage}}</div>
    </div>
    <div class="chat-2">
        <div class="chat-time">{{timeLastMessage}}</div>
        <div class="chat-unread">{{unread}}</div>
    </div>
</div>