<div class="itemToSend">
    <div>{{> 'icons/icon'  name='../assets/image.png' style='color:red'}}</div>
<div>Фото или видео</div>
</div>
<div class="itemToSend">
    <div>{{> 'icons/icon'  name='../assets/document.png' style='color:red'}}</div>
<div>Файл</div>
</div>
<div class="itemToSend">
    <div>{{> 'icons/icon'  name='../assets/location.png' style='color:red'}}</div>
<div>Локация</div>
</div>