<div class="user-actions">
    <div class="itemToSend">
        <div>
            {{> 'icons/icon'  name='../assets/add.png' style='color:red'}}
        </div>
        <div>
            Добавить пользователя
        </div>
    </div>
    <div class="itemToSend">
        <div>
            {{> 'icons/icon'  name='../assets/x-mark.png' style='color:red'}}
        </div>
    <div>
        Удалить пользователя
    </div>
</div>