.chatListHeader {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray);
  & > a {
    align-self: flex-end;
    margin-bottom: 10px;
  }
}
.chatArea {
  margin-bottom: 15px;
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
}
.chatSearch {
  font-size: 12px;
  border-radius: 5px;
  background-color: var(--almost-white);
  width: 290px;
  border: none;
  padding: 10px 10px 10px 10px;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

.chatListItem {
  height: 71px;
  margin: 10px;
  border-bottom: 1px solid var(--gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;

  & > img {
    object-fit: cover;
    border-radius: 50%;
    height: 47px;
  }
  &:hover {
    background-color: var(--gray);
  }
}

.upload {
  position: relative;
  top: -40px;
  right: -12px;
  color: red;
  visibility: hidden;
  opacity: 0;
}

.chat-avatar {
  cursor: pointer;
  margin: 10px;
  & > img {
    object-fit: cover;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    &:hover {
      filter: contrast(0.5);
    }
  }
}
.chat-avatar:hover .upload {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
.chat-1 {
  width: 193px;
  max-width: 193px;
}
.chat-name {
  font-weight: 800;
}
.last-message,
.chat-time {
  color: var(--dark-gray);
  font-size: 12px;
  white-space: nowrap;
}
.chat-unread {
  text-align: center;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blue);
  width: 20px;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  float: right;
  &__0 {
    height: 20px;
  }
}
.chatAreaHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid var(--gray);
  align-items: center;
}

.chatAreaFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid var(--gray);
  width: 95%;
}

.message {
  width: 90%;
  background-color: var(--gray);
  border: none;
  border-radius: 5px;
  padding: 10px 10px 10px 5px;
  font-size: 12px;
  max-height: 50px;
}

.chat-title {
  display: flex;
  align-items: center;
}

.fileToSend {
  position: absolute;
  bottom: 70px;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--white);
  display: none;
  flex-direction: column;
  justify-content: flex-end;
}

.incomingMessage,
.outgoingMessage {
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  max-width: 70%;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}
.incomingMessage {
  background-color: var(--slight-gray);
  margin-left: 20px;
}
.outgoingMessage {
  background-color: var(--outgoing-message);
  margin-left: auto;
  margin-right: 20px;
}
.message-time {
  font-size: 10px;
  color: var(--dark-gray);
}
.message-text {
  margin-right: 5px;
}
.icon {
  border-radius: 50%;
  border: none;
}
.icon > img {
  height: 20px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 5px 10px 2px var(--dark-gray);
  }
}

.messageForm {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.chatMainTitle {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    box-shadow: 0px 5px 10px 2px var(--dark-gray);
  }
}

.chooseChat {
  position: relative;
  top: -38%;
  color: var(--dark-gray);
}
