{{!< changePassword }} 



{{> 'icons/back' name='../assets/arrow-left.png' style='background-color:#3369F3'}}
    <div class="profile">
        <div class="profileTop">
            {{> 'avatar/avatar'}}
        </div>
        <div>{{> 'profile/editProfile' key='Старый пароль' type='password' value=''}}</div>
        <div>{{> 'profile/editProfile' key='Новый пароль' type='password' value=''}}</div>
        <div>{{> 'profile/editProfile' key='Повторите пароль' type='password' value=''}}</div>
        <div>{{> 'buttons/acceptButton' url='/profile.hbs' buttonText='Сохранить'}}</div>
    </div>