<label class="input">
        <span class="label">Логин</span>
        <input placeholder="Логин" type="text" value="">
        <span class="search-highlight"></span>
        <span class="search-highlight-second"></span>
    </label>