<div class="input-group">
  <input class="text-input" 
    type={{type}} 
    value={{value}} 
  >
  <span class="highlight"></span>
  <span class="bar"></span>
    <label class="input-label">
      {{label}}
    </label>
  <p class="error">Некорректные данные</p>
</div>